.TreemapDiagramPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  #treemap-div {
    position: relative;
  }

  #tooltip {
    position: absolute;
    padding: 2px 7px;
    border-radius: 3px;
    background-color: grey;
    color: white;
  }

  #legend {
    border: 1px solid black;
  }
}
